# Mission to Mars

In [1]:
#import dependencies 
import pandas as pd
import time
import os
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [2]:
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

### NASA Mars News Site

In [3]:
#NASA URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(1)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
#scrape the most recent article headlines
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='rollover_description_inner').text
print("News Title:", news_title)
print(news_p)

News Title: NASA's InSight Places First Instrument on Mars
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

### JPL Mars Space Images

In [7]:
#Scrape featured image from JPL website
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)
time.sleep(1)

In [8]:
jpl_html = browser.html
jpl_soup = bs(jpl_html, 'html.parser')

In [9]:
#scrape the 'featured image' 
feat_img = jpl_soup.find('a', class_='button fancybox')['data-fancybox-href']
print(feat_img)

/spaceimages/images/mediumsize/PIA17761_ip.jpg

In [10]:
featured_image_url = f'https://www.jpl.nasa.gov{feat_img}'
print(featured_image_url)

#not sure how to pull full image. URL is pulling mediumsize. Feat images rotate.

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17761_ip.jpg

### Mars Weather

In [11]:
#scrape twitter weather report 
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)
time.sleep(1)

In [12]:
weather_html = browser.html
weather_soup = bs(weather_html, 'html.parser')

In [13]:
mars_tweet = weather_soup.find('div', class_='js-tweet-text-container').text
print(mars_tweet)

mars_weather = 'Sol 2280 (2019-01-04), high -9C/15F, low -71C/-95F, pressure at 8.34 hPa, daylight 06:44-18:55'

Sol 2280 (2019-01-04), high -9C/15F, low -71C/-95F, pressure at 8.34 hPa, daylight 06:44-18:55

### Mars Facts

In [14]:
facts_url = 'https://space-facts.com/mars/'

In [15]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
df = tables[0]
df.columns = ['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
mars_df = df.set_index('Description')
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [21]:
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [22]:
# website is down:  https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars